# Ignore OS Related/Generic
Thumbs.db
Desktop.ini
Icon?
.DS_Store
_*
.*
*.old
*.lock
*.log
*.swp
*~
*.zip

# IDE Specifics
nbproject/
.settings/
.idea/
*.sublime-*

# Dependencies Folder
/node_modules/
/application/vendor/
/asset/bower/

# Ignore Application Specifics
/application/storage/
/application/bootigniter/samples/

# but leave there Application Specifics
!.htaccess
!index.html
!.git*
!.travis.yml
!.editorconfig
!.bowerrc
!.css*
!.js*
!_dist/
