# Ignore OS Related/Generic
Thumbs.db
Desktop.ini
Icon?
.DS_Store
_*
.*
*.bak
*.old
*.orig
*.lock
*.diff
*.patch
*.err
*.log
*.swp
*~
*.zip

# Dependencies Folder
/node_modules/
/application/vendor/
/asset/bower/

# Ignore Application Specifics
/application/storage/*/*
/application/bootigniter/samples/

# but leave there Application Specifics
!.htaccess
!index.html
!.git*
!.travis.yml
!.editorconfig
!.css*
!.js*
!/application/storage/logs/view.php
