<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Baka_Pack_Test_Suite">
            <directory surfix="Test.php">tests/helpers</directory>
            <directory surfix="Test.php">tests/libraries</directory>
            <file>tests/BakaControllerTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">system</directory>
        </blacklist>
    </filter>
</phpunit>